{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Message {% endblock %}</h1>
    <form action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="post">
        <!-- <label for="title">Title</label> -->
        <label class="fileSelect" for="files[]">Upload Photo (JPG, PNG, JPEG, GIF)</label>
        <br>
        <!-- <input type="text" name="title"
               placeholder="Message title"
               value="{{ request.form['title'] }}"></input> -->

        <input type="file" id="files[]" name="files[]"
            value="{{ request.form['files[]'] }}" class="fileElem" >
        
        <br>
        <br>
        
        <!-- <button type="submit">Submit</button> -->
        <input type="submit" value="Submit Picture">

    </form>
{% endblock %}